	<!--- <ion-header>
	<ion-toolbar>
		<ion-title>
			No Harm on the Farm
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
    <ion-button class="menu-button" href="/space" size="block" color="brown">Lock that gate</ion-button>
    <ion-button class="menu-button" href="/quiz" size="block">Quiz</ion-button>
	<ion-button class="menu-button" routerLink="/guide" size = "block" > Guides </ion-button>

	<ion-button class="menu-button" href="/rpg" size="block">Adventure on the farm</ion-button>
	<ion-button class="menu-button" href="/flap" size="block">Flappy</ion-button>
		Maybe add in play games section, seperate them from main menu
	Add in guides and options too and a help option too
    <ion-button href="#" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScCaF4fV-0g4gh-a_vsNLn5TxSiZptuJPJm7SQDRgRLyIk8Dw/viewform', '_system', 'location=yes');" size="block"> Google form</ion-button>
</div>
</ion-content>  
-->